html, body {
  height: 100%;
}

body {
  background-image: linear-gradient(#F0F8FF, #BDBDDE);
  background-repeat: no-repeat;
  background-size: auto 100%;
  font-weight: 400;
  color: #7e93d8;
}

.App {
  display: grid;
  justify-content: center;
  grid-template-columns: 80%;
  grid-template-rows: auto auto;
}

.Info {

}

.Title {
  font-size: 36px;
}

.Description {
  font-weight: 200;
}

.TodoList {
  margin: 1% 0;
  border-top: 2px #7e93d8 solid;
  border-bottom: 2px #7e93d8 solid;
}

.Tasks {
}

.Task {
  background-color: white;
  border-radius: 5px;
  border-left: 5px #7e93d8 solid;
}

.TaskDone {
  text-decoration: line-through;
}

.AddTodo {
  display: grid;
  gap: 1%;
  grid-template-columns: 94% 5%;
}

.Input {
}

.SubmitButton {
  aspect-ratio: 1 / 1;
  background-color: #7e93d8;
  border-radius: 5px;
  border: 0;
  color: #ffffff;
  font-size: 100%;
}